@media screen and (min-width: 1025px) {
  #profiles_show .b-achievement.is-badge .c-image {
    padding-top: 100%;
  }
  #profiles_show .b-achievement.is-badge .c-image,
  #profiles_show .b-achievement .c-image .inner a img,
  #profiles_show .b-achievement .c-image .inner a .no-image,
  #profiles_show .b-achievement .c-image .inner a .border,
  #profiles_show .b-achievement .c-image .inner,
  #profiles_show .achievements .cc-achievements .b-achievement,
  #profiles_show .b-achievement > .c-image > .inner:after {
    border-radius: 16rem;
    overflow: hidden;
  }
  #profiles_show .b-achievement .c-image .inner {
    transform: scale(1.009);
  }
  #profiles_show .b-achievement .c-image .inner a img,
  #profiles_show .b-achievement .c-image .inner a .no-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  #profiles_show .achievements .cc-achievements .b-achievement {
    padding: 2px;
    border: 2px solid rgba(var(--block-color), 0.6);
  }
  #profiles_show .b-achievement.is-badge:hover:before {
    border-radius: 16rem;
    padding-top: 0.25rem;
  }
  #profiles_show .b-achievement.is-badge::before {
    top: 0;
    height: 100%;
    padding: 1.5rem 0.5rem 0;
    line-height: 1.25;
    font-size: 1em;
    border-radius: 16rem;
    transition: 0s, padding 0.4s, opacity 0.4s;
  }
  body#profiles_show .cc-franchises .b-badge img,
  body#profiles_show .cc-franchises .b-badge .no-image {
    border-radius: 100rem;
    height: 150%;
    width: 150%;
    max-width: 25rem;
    max-height: 25rem;
    min-width: 1rem;
    min-height: 1rem;
    object-fit: cover;
    object-position: center;
    padding: 2px;
    border: 2px solid rgba(var(--block-color), 0.6);
  }
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge {
    width: 100%;
    height: initial;
    padding: 0;
    left: 1rem;
  }
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(9),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(10),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(11),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(12) {
    display: none;
  }
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(1),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(2),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(3),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(4) {
    margin: 0 5.6% 0 -0.8%;
  }
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(5),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(6),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(7),
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge:nth-child(8) {
    margin: 0 5% 0 -0.2%;
  }
  #profiles_show .b-badge::before {
    content: "";
    position: absolute;
    display: flex !important;
    width: calc(150% - 10px);
    height: calc(150% - 10px);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0.2rem;
    padding: 2px;
    border-radius: 100rem;
    z-index: 22;
    opacity: 1 !important;
    font-size: 0 !important;
    justify-content: center;
    align-items: center;
    transition: 0s, background 0.4s ease;
  }
  #profiles_show .b-badge:hover::before {
    background-color: rgba(var(--menu-back), 0.5);
  }
  #profiles_show a.b-badge:hover:before {
    box-shadow: none !important;
  }
}
@media screen and (min-width: 3600px) {
  #profiles_show.p-profiles-show .achievements .cc-franchises .b-badge {
    width: 7%;
  }
}
#profiles_show .achievements .cc-3 > .c-column:nth-child(3) {
  margin-bottom: 0;
}
#profiles_show .cc-franchises .b-badge[href$="/zero_no_tsukaima"] img,
#profiles_show .cc-franchises .b-badge[href$="/garo"] img,
#profiles_show .cc-franchises .b-badge[href$="/hayate_no_gotoku"] img,
#profiles_show .cc-franchises .b-badge[href$="/queen_s_blade"] img,
#profiles_show .cc-franchises .b-badge[href$="/hajime_no_ippo"] img,
#profiles_show .cc-franchises .b-badge[href$="/mushishi"] img,
#profiles_show .cc-franchises .b-badge[href$="/boku_no_hero_academia"] img,
#profiles_show .cc-franchises .b-badge[href$="/chihayafuru"] img,
#profiles_show .cc-franchises .b-badge[href$="/jojo_no_kimyou_na_bouken"] img {
  object-position: 100% center;
}
#profiles_show .cc-franchises .b-badge[href$="/berserk"] img,
#profiles_show .cc-franchises .b-badge[href$="/ore_no_imouto"] img,
#profiles_show .cc-franchises .b-badge[href$="/cutey_honey"] img,
#profiles_show .cc-franchises .b-badge[href$="/lupin_iii"] img,
#profiles_show .cc-franchises .b-badge[href$="/xxxholic"] img,
#profiles_show .cc-franchises .b-badge[href$="/tiger_bunny"] img,
#profiles_show .cc-franchises .b-badge[href$="/mobile_police_patlabor"] img,
#profiles_show .cc-franchises .b-badge[href$="/baki"] img,
#profiles_show .cc-franchises .b-badge[href$="/baki"] img {
  object-position: 0 center;
}
#profiles_show .cc-franchises .b-badge[href$="/ao_no_exorcist"] img {
  object-position: 76% center;
}
#profiles_show .cc-franchises .b-badge[href$="/eureka_seven"] img {
  object-position: 30% center;
}
#profiles_show .cc-franchises .b-badge[href$="/sailor_moon"] img {
  object-position: 85% center;
}
#profiles_show .cc-franchises .b-badge[href$="/fullmetal_alchemist"] img,
#profiles_show .cc-franchises .b-badge[href$="/mob_psycho"] img,
#profiles_show .cc-franchises .b-badge[href$="/hack"] img,
#profiles_show .cc-franchises .b-badge[href$="/chuunibyou_demo_koi_ga_shitai"] img,
#profiles_show .cc-franchises .b-badge[href$="/amagami_ss"] img {
  object-position: 70% center;
}
#profiles_show .cc-franchises .b-badge[href$="/black_jack"] img {
  object-position: 8.5% center;
}
#profiles_show .cc-franchises .b-badge[href$="/quanzhi_fashi"] img,
#profiles_show .cc-franchises .b-badge[href$="/yahari_ore_no_seishun_love_comedy_wa_machigatteiru"] img,
#profiles_show .cc-franchises .b-badge[href$="/dragon_ball"] img {
  object-position: 60% center;
}
#profiles_show .cc-franchises .b-badge[href$="/natsume_yuujinchou"] img,
#profiles_show .cc-franchises .b-badge[href$="/sora_no_otoshimono"] img,
#profiles_show .cc-franchises .b-badge[href$="/danganronpa"] img {
  object-position: 80% center;
}
#profiles_show .cc-franchises .b-badge[href$="/seitokai_yakuindomo"] img {
  object-position: 16% center;
}
#profiles_show .cc-franchises .b-badge[href$="/baka_to_test_to_shoukanjuu"] img,
#profiles_show .cc-franchises .b-badge[href$="/teekyuu"] img {
  object-position: 35% center;
}
#profiles_show .cc-franchises .b-badge[href$="/cardcaptor_sakura"] img {
  object-position: 10% center;
}
#profiles_show .cc-franchises .b-badge[href$="/dog_days"] img {
  object-position: 90% center;
}
#profiles_show .cc-franchises .b-badge[href$="/nisekoi"] img {
  object-position: 25% center;
}
#profiles_show .cc-franchises .b-badge[href$="/tamayura"] img {
  object-position: 88% center;
}
#profiles_show .cc-franchises .b-badge[href$="/rurouni_kenshin"] img {
  object-position: 15% center;
}
#profiles_show .cc-franchises .b-badge[href$="/full_metal_panic"] img {
  object-position: 10% center;
}
