.counter-02 {text-align: center;}
/* Карусель */
.u-carousel {
   display: inline-flex;
   position: relative;
   transition: none;
   max-width: 1265px;
   width: calc(100% / 3);
   text-align: start;
}
/* Изображения */
.u-carousel .u-carousel_images {
   position: relative;
   padding: 30% 0;
   margin: 0.5rem;
   width: 100%;
   height: 0;
   overflow: hidden;
   user-select: none;
   transition: margin 0s, padding 0s;
   border-radius: 0.25rem;
   border: 0.25rem solid rgba(var(--block-color), 0.3);
   box-shadow: 0 2px 8px #00000033;
}
/* Контроль над самой картинкой */
.u-carousel .b-image.b-poster img,
.u-carousel .b-image img {
   position: absolute;
   min-width: 100%;
   min-height: 100%;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 50% 50%;
   transition: none !important;
   box-shadow: none !important;
   transform: none;
   filter: brightness(0.95);
   image-rendering: -webkit-optimize-contrast;
   border-radius: 0;      
}
.u-carousel .u-carousel_images > div > .b-image,
.u-carousel .u-carousel_images > div > .b-poster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    margin: 0;
    transform: translateX(-100%);
    transition: none;
}
.u-carousel .u-carousel_images > div > .b-image,
.u-carousel .u-carousel_images > div > .b-poster { transform: translate(12px, 50%); opacity: 0;}
.u-carousel .u-carousel_images > .active > .b-image,
.u-carousel .u-carousel_images > .active > .b-poster { transform: translateX(0); opacity: 1;}
.u-carousel .u-carousel_images > .active ~ div > .b-image,
.u-carousel .u-carousel_images > .active ~ div > .b-poster { transform: translateX(100%);}

.u-carousel.animated .u-carousel_images div > .b-image,
.u-carousel.animated .u-carousel_images div > .b-poster {
   transition: 0s linear, opacity .5s, transform 0.7s linear;
   will-change: transform;
}
/* Переключатели */
.u-carousel .u-carousel_images > div::before,
.u-carousel .u-carousel_images > div::after {
   content: "";
   display: none;
   justify-content: flex-end;
   align-items: center;
   position: absolute;
   top: 0;
   bottom: 0;
   width: 4.25rem;
   font-size: 32px;
   opacity: 1;
   z-index: 1;
   cursor: pointer;
}
.u-carousel .u-carousel_images .b-image:hover img { opacity: 1;}
.u-carousel .u-carousel_images > div::after { right: 0; }

.u-carousel .u-carousel_images > div:not(.active):first-child::after,
.u-carousel .u-carousel_images > .active + div::after,
.u-carousel .u-carousel_images > div::before,
.u-carousel .u-carousel_images > .active:first-child ~ div:last-child::before { display: flex;}

.u-carousel .u-carousel_images > br,
.u-carousel .u-carousel_images > div > br,
.u-carousel .u-carousel_images .b-image .marker,
.u-carousel .u-carousel_images > .active::before,
.u-carousel .u-carousel_images > .active ~ div::before { display: none;}

/* Псевдо-переключатели */
.u-carousel .u-carousel_images::before,
.u-carousel .u-carousel_images::after {
   content: "";
   font-family: "shikimori";
   position: absolute;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   box-sizing: border-box;
   top: 0;
   bottom: 0;
   width: 4.0625rem;
   padding: 1.25rem;
   font-size: 3.25em;
   background: linear-gradient(90deg, #0000004d, #00000000);
   color: #1c1c1cf2;
   opacity: 0;
   transition: 0s ease-in-out, opacity .18s;
   pointer-events: none;
   z-index: 1;
   font-weight: bold;
}
.u-carousel .u-carousel_images::after {
   content: "";
   justify-content: flex-end;
   right: 0;
   background: linear-gradient(270deg, #0000004d, #00000000);
}
.u-carousel .u-carousel_images:hover::before,
.u-carousel .u-carousel_images:hover::after { opacity: 1;}
/* Счётчик */
.u-carousel.counter { counter-reset: carousel carousel-current;}
.u-carousel.counter .u-carousel_images > div { counter-increment: carousel carousel-current;}
.u-carousel.counter .u-carousel_images > .active ~ div { counter-increment: carousel carousel-current 0;}

.u-carousel.counter::after { content: counter(carousel-current) " из " counter(carousel);
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   margin: 2em;
   padding: .36em 1em;
   background-color: #00000066;
   border-radius: 5px;
   color: #eee;
   backface-visibility: hidden;
   pointer-events: none;
   z-index: 1;
}
@media screen and (max-width: 1000px) { .u-carousel { width: calc(100% / 2);}}
@media screen and (max-width: 600px) { .u-carousel { width: calc(100% / 1);}}
