/* (1) Группа*/
 #profiles_show .smiley[alt=":)"] {content: url("/\x/i.imgur.com/eGG3Zpd.gif");}
 #profiles_show .smiley[alt=":D"] {content: url("/\x/i.imgur.com/1W2Grat.gif");}
 #profiles_show .smiley[alt=":-D"] {content: url("/\x/i.imgur.com/uVcFSUk.gif");}
 #profiles_show .smiley[alt=":lol:"] {content: url("/\x/i.imgur.com/IvxY1lW.gif");}
 #profiles_show .smiley[alt=":ololo:"] {content: url("/\x/i.imgur.com/sC22wFJ.gif");}
 #profiles_show .smiley[alt=":evil:"] {content: url("/\x/i.imgur.com/CtXxOY3.gif");}
 #profiles_show .smiley[alt="+_+"] {content: url("/\x/i.imgur.com/qiV8jC9.gif");}
 #profiles_show .smiley[alt=":cool:"] {content: url("/\x/i.imgur.com/VTGHMny.gif");}
 #profiles_show .smiley[alt=":thumbup:"] {content: url("/\x/i.imgur.com/0qC25Iq.gif");}
 #profiles_show .smiley[alt=":yahoo:"] {content: url("/\x/i.imgur.com/F3osk20.gif");}
 #profiles_show .smiley[alt=":tea2:"] {content: url("/\x/i.imgur.com/6IdDJQZ.gif");}
 #profiles_show .smiley[alt=":star:"] {content: url("/\x/i.imgur.com/EkMZrli.gif");}
/*(2) Группа*/
 #profiles_show .smiley[alt=":oh:"] {content: url("/\x/i.imgur.com/sd7XYug.gif");}
 #profiles_show .smiley[alt=":shy:"] {content: url("/\x/i.imgur.com/51F8yTF.gif");}
 #profiles_show .smiley[alt=":shy2:"] {content: url("/\x/i.imgur.com/lKegzv8.gif");}
 #profiles_show .smiley[alt=":-P"] {content: url("/\x/i.imgur.com/Fl9z98k.gif");}
 #profiles_show .smiley[alt=":hurray:"] {content: url("/\x/i.imgur.com/3DXCWuK.gif");}
 #profiles_show .smiley[alt=":roll:"] {content: url("/\x/i.imgur.com/p9ZNBCU.gif");}
 #profiles_show .smiley[alt=":!:"] {content: url("/\x/i.imgur.com/V9FcRfY.gif");}
 #profiles_show .smiley[alt=":watching:"] {content: url("//i.imgur.com/DmFCrgm.gif");}
 #profiles_show .smiley[alt=":love:"] {content: url("/\x/i.imgur.com/wlKrTsf.gif");}
 #profiles_show .smiley[alt=":love2:"] {content: url("/\x/i.imgur.com/gE75GmL.gif");}
 #profiles_show .smiley[alt=":bunch:"] {content: url("/\x/i.imgur.com/0TKys04.gif");}
 #profiles_show .smiley[alt=":perveted:"] {content: url("/\x/i.imgur.com/tIn1u8h.gif");}
/* Группа 3*/
 #profiles_show .smiley[alt=":("] {content: url("/\x/i.imgur.com/EgfsihZ.gif");}
 #profiles_show .smiley[alt=":very sad:"] {content: url("/\x/i.imgur.com/jCVAiui.gif");}
 #profiles_show .smiley[alt=":depressed:"] {content: url("/\x/i.imgur.com/yFTWZxa.gif");}
 #profiles_show .smiley[alt=":depressed2:"] {content: url("/\x/i.imgur.com/fBjpZ4g.gif");}
 #profiles_show .smiley[alt=":hopeless:"] {content: url("/\x/i.imgur.com/YTbQgr1.gif");}
 #profiles_show .smiley[alt=":very sad2:"] {content: url("/\x/i.imgur.com/BhTywiq.gif");}
 #profiles_show .smiley[alt=":-("] {content: url("/\x/i.imgur.com/NW5HPof.gif");}
 #profiles_show .smiley[alt=":cry:"] {content: url("/\x/i.imgur.com/PZziLcK.gif");}
 #profiles_show .smiley[alt=":cry6:"] {content: url("/\x/i.imgur.com/3I2nFND.gif");}
 #profiles_show .smiley[alt=":Cry2:"] {content: url("/\x/i.imgur.com/XbgRr3b.gif");}
 #profiles_show .smiley[alt=":Cry3:"] {content: url("/\x/i.imgur.com/2Yrk0CK.gif");}
 #profiles_show .smiley[alt=":Cry4:"] {content: url("/\x/i.imgur.com/xPhSHZr.gif");}
/* Группа 4*/
 #profiles_show .smiley[alt=":-o"] {content: url("/\x/i.imgur.com/zbscqSl.gif");}
 #profiles_show .smiley[alt=":shock:"] {content: url("/\x/i.imgur.com/PCdL4AU.gif");}
 #profiles_show .smiley[alt=":shock2:"] {content: url("/\x/i.imgur.com/bpbCT71.gif");}
 #profiles_show .smiley[alt=":scream:"] {content: url("/\x/i.imgur.com/fVzFbxs.gif");}
 #profiles_show .smiley[alt=":dont want:"] {content: url("/\x/i.imgur.com/SHae4nU.gif");}
 #profiles_show .smiley[alt=":noooo:"] {content: url("/\x/i.imgur.com/6oKKxwl.gif");}
 #profiles_show .smiley[alt=":scared:"] {content: url("/\x/i.imgur.com/ngQudpm.gif");}
 #profiles_show .smiley[alt=":shocked2:"] {content: url("/\x/i.imgur.com/WGbpJCE.gif");}
 #profiles_show .smiley[alt=":shocked3:"] {content: url("/\x/i.imgur.com/nFbx6YT.gif");}
 #profiles_show .smiley[alt=":shocked4:"] {content: url("/\x/i.imgur.com/kj5MUnj.gif");}
 #profiles_show .smiley[alt=":tea shock:"] {content: url("/\x/i.imgur.com/hUWtCNi.gif");}
 #profiles_show .smiley[alt=":frozen3:"] {content: url("/\x/i.imgur.com/GEe029p.gif");}
/* Группа 5*/
 #profiles_show .smiley[alt=":angry4:"] {content: url("/\x/i.imgur.com/0WfOR5m.gif");}
 #profiles_show .smiley[alt=":revenge:"] {content: url("/\x/i.imgur.com/rTdMhNi.gif");}
 #profiles_show .smiley[alt=":evil2:"] {content: url("/\x/i.imgur.com/xa5JGXd.gif");}
 #profiles_show .smiley[alt=":twisted:"] {content: url("/\x/i.imgur.com/vWdxyWJ.gif");}
 #profiles_show .smiley[alt=":angry:"] {content: url("/\x/i.imgur.com/6ezKTmL.gif");}
 #profiles_show .smiley[alt=":angry3:"] {content: url("/\x/i.imgur.com/sRMJ5pL.gif");}
 #profiles_show .smiley[alt=":angry5:"] {content: url("/\x/i.imgur.com/8l6k8Le.gif");}
 #profiles_show .smiley[alt=":angry6:"] {content: url("/\x/i.imgur.com/wJXkVnn.gif");}
 #profiles_show .smiley[alt=":cold:"] {content: url("/\x/i.imgur.com/yhoksAS.gif");}
 #profiles_show .smiley[alt=":strange4:"] {content: url("/\x/i.imgur.com/maJWdBD.gif");}
 #profiles_show .smiley[alt=":ball:"] {content: url("/\x/i.imgur.com/pWWWxXc.gif");}
 #profiles_show .smiley[alt=":evil3:"] {content: url("/\x/i.imgur.com/uUSEAw5.gif");}
/* Группа 6*/
 #profiles_show .smiley[alt=":8):"] {content: url("/\x/i.imgur.com/9FaSoI5.gif");}
 #profiles_show .smiley[alt=":oh2:"] {content: url("/\x/i.imgur.com/EihFOGs.gif");}
 #profiles_show .smiley[alt=":ooph:"] {content: url("/\x/i.imgur.com/W451oc3.gif");}
 #profiles_show .smiley[alt=":wink:"] {content: url("/\x/i.imgur.com/0xsUpdj.gif");}
 #profiles_show .smiley[alt=":dunno:"] {content: url("/\x/i.imgur.com/GHJWYBI.gif");}
 #profiles_show .smiley[alt=":dont listen:"] {content: url("/\x/i.imgur.com/CblbI66.gif");}
 #profiles_show .smiley[alt=":hypno:"] {content: url("/\x/i.imgur.com/jjmbLs2.gif");}
 #profiles_show .smiley[alt=":advise:"] {content: url("/\x/i.imgur.com/umOzgP7.gif");}
 #profiles_show .smiley[alt=":bored:"] {content: url("/\x/i.imgur.com/RikYpCi.gif");}
 #profiles_show .smiley[alt=":disappointment:"] {content: url("/\x/i.imgur.com/eXs1QJ1.gif");}
 #profiles_show .smiley[alt=":hunf:"] {content: url("/\x/i.imgur.com/ukWFP66.gif");}
/* Группа 7*/
 #profiles_show .smiley[alt=":hot:"] {content: url("/\x/i.imgur.com/H2oDagJ.gif");}
 #profiles_show .smiley[alt=":hot2:"] {content: url("/\x/i.imgur.com/nhWe5Sr.gif");}
 #profiles_show .smiley[alt=":hot3:"] {content: url("/\x/i.imgur.com/B800cxn.gif");}
 #profiles_show .smiley[alt=":stress:"] {content: url("/\x/i.imgur.com/HaDG07T.gif");}
 #profiles_show .smiley[alt=":strange3:"] {content: url("/\x/i.imgur.com/K0dCJyX.gif");}
 #profiles_show .smiley[alt=":strange2:"] {content: url("/\x/i.imgur.com/M8urHxJ.gif");}
 #profiles_show .smiley[alt=":strange1:"] {content: url("/\x/i.imgur.com/eNRzkRt.gif");}
 #profiles_show .smiley[alt=":Bath2:"] {content: url("/\x/i.imgur.com/Uw9ySbL.gif");}
 #profiles_show .smiley[alt=":strange:"] {content: url("/\x/i.imgur.com/Vt2IRMv.gif");}
 #profiles_show .smiley[alt=":hope:"] {content: url("/\x/i.imgur.com/NmcWmTz.gif");}
 #profiles_show .smiley[alt=":hope3:"] {content: url("/\x/i.imgur.com/TrHROfg.gif");}
 #profiles_show .smiley[alt=":diplom:"] {content: url("/\x/i.imgur.com/pcoVBcp.gif");}
/* Группа 8*/
 #profiles_show .smiley[alt=":hi:"] {content: url("/\x/i.imgur.com/SirU4I4.gif");}
 #profiles_show .smiley[alt=":bye:"] {content: url("/\x/i.imgur.com/utfNKQd.gif");}
 #profiles_show .smiley[alt=":sleep:"] {content: url("/\x/i.imgur.com/liJo6T0.gif");}
 #profiles_show .smiley[alt=":bow:"] {content: url("/\x/i.imgur.com/F3Ds1GD.gif");}
 #profiles_show .smiley[alt=":Warning:"] {content: url("/\x/i.imgur.com/1dE20cF.gif");}
 #profiles_show .smiley[alt=":Ban:"] {content: url("/\x/i.imgur.com/jXxfiQq.gif");}
 #profiles_show .smiley[alt=":Im dead:"] {content: url("/\x/i.imgur.com/BcWaVCs.gif");}
 #profiles_show .smiley[alt=":sick:"] {content: url("/\x/i.imgur.com/fKoOVHz.gif");}
 #profiles_show .smiley[alt=":s1:"] {content: url("/\x/i.imgur.com/GI2pQlL.gif");}
 #profiles_show .smiley[alt=":s3:"] {content: url("/\x/i.imgur.com/zAmLs5E.gif");}
 #profiles_show .smiley[alt=":s2:"] {content: url("/\x/i.imgur.com/KTn5Koa.gif");}
 #profiles_show .smiley[alt=":happy_cry:"] {content: url("/\x/i.imgur.com/WOXEUvO.gif");}

/* Группа 09*/
 #profiles_show .smiley[alt=":ill:"] {content: url("/\x/i.imgur.com/M2hVII4.gif");}
 #profiles_show .smiley[alt=":sad2:"] {content: url("/\x/i.imgur.com/SBxbUNp.gif");}
 #profiles_show .smiley[alt=":bullied:"] {content: url("/\x/i.imgur.com/vVPTD5o.gif");}
 #profiles_show .smiley[alt=":bdl2:"] {content: url("/\x/i.imgur.com/uezlsJl.gif");}
 #profiles_show .smiley[alt=":Happy Birthday:"] {content: url("/\x/i.imgur.com/06QcFR5.gif");}
 #profiles_show .smiley[alt=":flute:"] {content: url("/\x/i.imgur.com/YhjnZpb.gif");}
 #profiles_show .smiley[alt=":cry5:"] {content: url("/\x/i.imgur.com/3TLT8EC.gif");}
 #profiles_show .smiley[alt=":gaze:"] {content: url("/\x/i.imgur.com/Gnicnlb.gif");}
 #profiles_show .smiley[alt=":hope2:"] {content: url("/\x/i.imgur.com/MchL42t.gif");}
 #profiles_show .smiley[alt=":sleepy:"] {content: url("/\x/i.imgur.com/ijGP8u6.gif");}

 #profiles_show .smiley[alt=":study:"] {content: url("/\x/i.imgur.com/C8lBEDC.gif");}
 #profiles_show .smiley[alt=":study2:"] {content: url("/\x/i.imgur.com/i3Tacq4.gif");}
 #profiles_show .smiley[alt=":study3:"] {content: url("/\x/i.imgur.com/M5jn7EM.gif");}
 #profiles_show .smiley[alt=":gamer:"] {content: url("/\x/i.imgur.com/0pph3FK.gif");}
 #profiles_show .smiley[alt=":animal:"] {content: url("/\x/i.imgur.com/qRq0kEx.gif");}
 #profiles_show .smiley[alt=":caterpillar:"] {content: url("/\x/i.imgur.com/vM5pCd5.gif");}
 #profiles_show .smiley[alt=":cold2:"] {content: url("/\x/i.imgur.com/r5TuKlF.gif");}
 #profiles_show .smiley[alt=":shocked:"] {content: url("/\x/i.imgur.com/1dKcMdc.gif");}
 #profiles_show .smiley[alt=":frozen:"] {content: url("/\x/i.imgur.com/yR6CGyq.gif");}
 #profiles_show .smiley[alt=":frozen2:"] {content: url("/\x/i.imgur.com/zK8gtpG.gif");}

 #profiles_show .smiley[alt=":kia:"] {content: url("/\x/i.imgur.com/ScteIJA.gif");}
 #profiles_show .smiley[alt=":interested:"] {content: url("/\x/i.imgur.com/SmmmVzx.gif");}
 #profiles_show .smiley[alt=":happy:"] {content: url("/\x/i.imgur.com/7TcgsSz.gif");}
 #profiles_show .smiley[alt=":happy3:"] {content: url("/\x/i.imgur.com/G9Ntgjc.gif");}
 #profiles_show .smiley[alt=":water:"] {content: url("/\x/i.imgur.com/EKICmR9.gif");}
 #profiles_show .smiley[alt=":dance:"] {content: url("/\x/i.imgur.com/U2BWF1r.gif");}
 #profiles_show .smiley[alt=":liar:"] {content: url("/\x/i.imgur.com/uxyHc2P.gif");}
 #profiles_show .smiley[alt=":prcl:"] {content: url("/\x/i.imgur.com/Sq0SxVH.gif");}
 #profiles_show .smiley[alt=":play:"] {content: url("/\x/i.imgur.com/LH1M7si.gif");}
 #profiles_show .smiley[alt=":s4:"] {content: url("/\x/i.imgur.com/6xqbpyJ.gif");}

 #profiles_show .smiley[alt=":s:"] {content: url("/\x/i.imgur.com/yFYSqkB.gif");}
 #profiles_show .smiley[alt=":bath:"] {content: url("/\x/i.imgur.com/sZLnZii.gif");}
 #profiles_show .smiley[alt=":kiss:"] {content: url("/\x/i.imgur.com/dBLBeri.gif");}
 #profiles_show .smiley[alt=":whip:"] {content: url("/\x/i.imgur.com/VBeTAjG.gif");}
 #profiles_show .smiley[alt=":relax:"] {content: url("/\x/i.imgur.com/6HY5jTt.gif");}
 #profiles_show .smiley[alt=":smoker:"] {content: url("/\x/i.imgur.com/eFo7rfy.gif");}
 #profiles_show .smiley[alt=":smoker2:"] {content: url("/\x/i.imgur.com/fzcn38t.gif");}
 #profiles_show .smiley[alt=":cool2:"] {content: url("/\x/i.imgur.com/cwLUccO.gif");}
 #profiles_show .smiley[alt=":V:"] {content: url("/\x/i.imgur.com/ygxvfCq.gif");}
 #profiles_show .smiley[alt=":V2:"] {content: url("/\x/i.imgur.com/hIceLlz.gif");}

 #profiles_show .smiley[alt=":V3:"] {content: url("/\x/i.imgur.com/rUaHsSa.gif");}
 #profiles_show .smiley[alt=":sarcasm:"] {content: url("/\x/i.imgur.com/KXLdIoB.gif");}
 #profiles_show .smiley[alt=":angry2:"] {content: url("/\x/i.imgur.com/xoIxajF.gif");}
 #profiles_show .smiley[alt=":kya:"] {content: url("/\x/i.imgur.com/jSSHRrj.gif");}
