@media screen and (min-width: 100px) {
   .b-shiki_editor .smileys::-webkit-scrollbar-button:vertical:decrement {
      height: 15px;
    }
   .b-shiki_editor .smileys {
      position: absolute;
      right: 0;
      left: 0;
      top: -28rem;
      height: 407.5px;
      padding: 0.05rem 0.625rem;
      margin: auto;
      border-radius: 0.6rem;
      z-index: 15;
      overflow: auto;
      background: rgba(var(--menu-back), 0.8) url(/\x/nyaa.shikimori.one/system/user_images/original/274756/1408685.jpg) no-repeat center / cover;
      box-shadow: 0 2px 6px 2px #00000040;
      width: 85%;
      max-width: 600px;
   }
   .b-comments .b-shiki_editor .smileys {
      top: -26.5rem;
   }
   .b-shiki_editor .smileys div {
      display: inline-block;
      padding: 2% 2% 1% 2%;
      margin: 0.3125rem 0;
      background-color: rgba(var(--block-color), 0.3);
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 25%);
      border-radius: 1rem;
      text-align: center;
      backdrop-filter: blur(2px);
   }
   .smiley {
      width: 59px;
      height: 59px;
      object-fit: cover;
      object-position: center;
      image-rendering: -webkit-optimize-contrast;
   }
   .b-shiki_editor .smileys img {
      width: 59px;
      height: 59px;
      padding: 2px;
      opacity: 0.85;
      margin: 0 1.3% 0.25rem 0;
      border: solid 2px rgba(var(--block-color), 1);
      clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      transition: 0s, transform 0.3s ease;
   }
   .b-shiki_editor .smileys img:hover {
      transform: rotate(-360deg);
   }
   .b-shiki_editor .smileys div::before {
      display: block;
      margin: 0 auto 0.25rem auto;
      width: 85%;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
      text-align: center;
      background: rgba(var(--block-color), 0.6);
      color: #bbb;
      box-shadow: 0 2px 6px 2px rgb(0 0 0 / 18%);
      text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
      border-radius: 9rem;
   }
   .b-shiki_editor .smileys div:nth-child(1)::before {
      content: "Группа 1";
   }
   .b-shiki_editor .smileys div:nth-child(2)::before {
      content: "Группа 2";
   }
   .b-shiki_editor .smileys div:nth-child(3)::before {
      content: "Группа 3";
   }
   .b-shiki_editor .smileys div:nth-child(4)::before {
      content: "Группа 4";
   }
   .b-shiki_editor .smileys div:nth-child(5)::before {
      content: "Группа 5";
   }
   .b-shiki_editor .smileys div:nth-child(6)::before {
      content: "Группа 6";
   }
   .b-shiki_editor .smileys div:nth-child(7)::before {
      content: "Группа 7";
   }
   .b-shiki_editor .smileys div:nth-child(8)::before {
      content: "Группа 8";
   }
   .b-shiki_editor .smileys div:nth-child(9)::before {
      content: "Группа 9";
   }
   #profiles_show .b-comments .b-shiki_editor .smileys {
      top: 6.65rem;
      right: 0;
      left: auto;
      height: 358.5px;
      max-width: 445px;
   }
}
@media screen and (min-width: 1200px) {
   #profiles_show .b-shiki_editor .smileys {
      right: 0;
      left: 0;
      top: 0;
      height: 475px;
      width: 100%;
      max-width: 100%;
   }
}
