.Person-1 [id="35252"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/706856.jpg") center / cover;
}
.Person-1 [id="139"] .image-cutter::after {
    background: url("//nyaa.shikimori.one/system/user_images/original/208335/706855.jpg") 55% center / cover;
}
.Person-1 [id="80"] .image-cutter::after {
    background: url("https://i9.wampi.ru/2019/11/29/tudjo1_400.gif") center / cover;
}
.Person-1 [id="496"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/274756/1085318.jpg") 37% 7% / 200%;
}
.Person-1 [id="82523"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/920342.jpg") no-repeat 0 14% / 140%;
}
.Person-1 [id="24183"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/845343.jpg") no-repeat 20% 10% / 120%;
}
.Person-1 [id="601"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/848201.jpg") center / cover;
}
.Person-1 [id="422"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/617752.jpg") center / cover;
}
.Person-1 [id="128909"] .image-cutter::after {
    background: url("//s2.wampi.ru/2020/07/18/4ysc.gif") center / cover;
}
.Person-1 [id="458"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/848196.jpg") center / cover;
}
.Person-1 [id="67065"] .image-cutter::after {
    background: url("//nyaa.shikimori.one/system/user_images/original/208335/617755.jpg") center 0 / cover;
}
.Person-1 [id="112891"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/1129938.jpg") 57% 10% / 550%;
}
.Person-1 [id="8835"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/604756.jpg") center / cover;
}
.Person-1 [id="14809"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/1129952.jpg") 48% 80% / 200%;
}
.Person-1 [id="12295"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/604758.jpg") center / cover;
}
.Person-1 [id="110429"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/845317.jpg") center 15% / 300%;
}
.Person-1 [id="117909"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/617543.jpg") center / cover;
}
.Person-1 [id="53901"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/1129956.jpg") center 10% / 150%;
}
.Person-1 [id="3180"] .image-cutter::after {
    background: url("//i.ibb.co/4fCcYhW/637094.gif") center / cover;
}
.Person-1 [id="40882"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/845333.jpg") center 0 / cover;
}
.Person-1 [id="3149"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/675823.jpg") center / cover;
}
.Person-1 [id="909"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/706858.jpg") center / cover;
}
.Person-1 [id="13700"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/706852.jpg") center / cover;
}
.Person-1 [id="118607"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/675826.jpg") 40% 10% / 150%;
}
.Person-1 [id="2257"] .image-cutter::after {
    background: url("//dere.shikimori.one/system/user_images/original/208335/687719.jpg") center / cover;
}
.Person-1 [id="2910"] .image-cutter::after {
    background: url("//dere.shikimori.one/system/user_images/original/208335/1129959.jpg") 0% 70% / 110%;
}
.Person-1 [id="2910"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/726626.jpg") center / cover;
}
.Person-1 [id="673"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/823708.jpg") 48% 8% / 200%;
}
.Person-1 [id="434"] .image-cutter::after {
    background: url("//desu.shikimori.one/system/user_images/original/208335/799763.jpg") 53% 42%/ 500%;
}
.Person-1 [id="124731"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/1129972.jpg") 50% 30% / 150%;
}
.Person-1 [id="425"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/user_images/original/208335/799762.jpg") 45% 0 / 120%;
}
.Person-1 [id="13468"] .image-cutter::after {
    background: url("//dere.shikimori.one/system/user_images/original/208335/1129939.jpg") 65% 67%/ 120%;
}
.Person-1 [id="118735"] .image-cutter::after {
    background: url("//moe.shikimori.one/system/images/original/110417.gif?1606020611") 44% 40% / 180%;
}
.Person-1 [id="157935"] .image-cutter::after {
    background: url("//kawai.shikimori.one/system/user_images/original/208335/1159911.jpg") 0 75% / 115%;
}
