.Person-0 [id="118765"] .image-cutter::after { background: url("/\x/nyaa.shikimori.one/system/user_images/original/208335/1281070.jpg") 55% 40% / 480%;}
.Person-0 [id="118763"] .image-cutter::after { background: url("/\x/nyaa.shikimori.one/system/user_images/original/208335/1281070.jpg") 82% 37% / 480%;}
.Person-0 [id="34470"] .image-cutter::after { background: url("/\x/dere.shikimori.one/system/user_images/original/208335/1281074.jpg") 50% 50% / 105%;}
.Person-0 [id="43280"] .image-cutter::after { background: url("/\x/kawai.shikimori.one/system/user_images/original/208335/1281071.jpg") 56% 12% / 280%;}
.Person-0 [id="82525"] .image-cutter::after { background: url("/\x/moe.shikimori.one/system/user_images/original/208335/1281072.jpg") 47.5% 17% / 300%;}
.Person-0 [id="87277"] .image-cutter::after { background: url("/\x/desu.shikimori.one/system/user_images/original/208335/1283913.jpg") 100% 0 / cover;}
.Person-0 [id="67067"] .image-cutter::after { background: url("/\x/desu.shikimori.one/system/user_images/original/208335/1281073.jpg") 36% 10% / 260%;}
.Person-0 [id="136"] .image-cutter::after { background: url("/\x/nyaa.shikimori.one/system/user_images/original/208335/1281075.jpg") 24% 8% / 250%;}
.Person-0 [id="69133"] .image-cutter::after { background: url("/\x/kawai.shikimori.one/system/user_images/original/208335/1281076.jpg") 18% center / cover;}
.Person-0 [id="50389"] .image-cutter::after { background: url("/\x/desu.shikimori.one/system/user_images/original/208335/1281078.jpg") 85% 65% / 225%;}
.Person-0 [id="30273"] .image-cutter::after { background: url("/\x/dere.shikimori.one/system/user_images/original/208335/1281084.jpg") 20% 15% / 280%;}
.Person-0 [id="4963"] .image-cutter::after { background: url("/\x/nyaa.shikimori.one/system/user_images/original/208335/1281085.jpg") 47.5% 15% / cover;}
.Person-0 [id="94"] .image-cutter::after { background: url("/\x/nyaa.shikimori.one/system/user_images/original/208335/1283910.jpg") 62% 12% / 400%;}
.Person-0 [id="160603"] .image-cutter::after { background: url("/\x/kawai.shikimori.one/system/user_images/original/208335/1283911.jpg") 3% 24% / 270%;}
.Person-0 [id="161472"] .image-cutter::after { background: url("/\x/moe.shikimori.one/system/user_images/original/208335/1283912.jpg") 90% 50% / 206%;}
.Person-0 [id="61371"] .image-cutter::after { background: url("/\x/dere.shikimori.one/system/user_images/original/208335/1283914.jpg") 5% 5% / 150%;}
.Person-0 [id="7373"] .image-cutter::after { background: url("/\x/nyaa.shikimori.one/system/user_images/original/208335/1283915.jpg") 12% 24% / 200%;}
.Person-0 [id="67069"] .image-cutter::after {background: url("/\x/kawai.shikimori.one/system/user_images/original/208335/1283916.jpg") 66.4% 6% / 500%;}
.Person-0 [id="40450"] .image-cutter::after { background: url("/\x/moe.shikimori.one/system/user_images/original/208335/1283917.jpg") 90% 40% / 350%;}
.Person-0 [id="88577"] .image-cutter::after { background: url("/\x/desu.shikimori.one/system/user_images/original/208335/1283918.jpg") center 25% / cover;}
.Person-0 [id="119413"] .image-cutter::after { background: url("/\x/i8.wampi.ru/2019/11/29/tum6o1_500.gif") center / cover;}
.Person-0 [id="23602"] .image-cutter::after { background: url("/\x/dere.shikimori.one/system/user_images/original/208335/1283919.jpg") 50% 20% / 175%;}
.Person-0 [id="12064"] .image-cutter::after { background: url("/\x/nyaa.shikimori.one/system/user_images/original/208335/1283920.jpg") 47% 82%/ 700%;}
.Person-0 [id="13701"] .image-cutter::after { background: url("/\x/kawai.shikimori.one/system/user_images/original/208335/1283921.jpg") 10% 20% / 250%;}
.Person-0 [id="43282"] .image-cutter::after { background: url("/\x/i.ibb.co/jMBq22N/Tsugumi.jpg") 55% 10% / 105%;}
.Person-0 [id="69411"] .image-cutter::after { background: url("/\x/i.ibb.co/NSjDYzH/Kaori-Mi.jpg") 25% 50% / 237%;}
.Person-0 [id="144487"] .image-cutter::after { background: url("/\x/i.ibb.co/TtG2CrJ/Ha-Kyung.jpg") center 50% / cover;}
.Person-0 [id="117225"] .image-cutter::after { background: url("/\x/i.ibb.co/XYx3GRY/Megumin.jpg") center 10% / cover;}
.Person-0 [id="89339"] .image-cutter::after { background: url("/\x/i.ibb.co/B24k1VC/Alice-Nakiri.jpg") 55% 0 / 250%;}
.Person-0 [id="40881"] .image-cutter::after { background: url("/\x/i.ibb.co/Wf5h0d1/Mikasa-Ac.jpg") 15% 45% / 350%;}
.Person-0 [id="118739"] .image-cutter::after { background: url("/\x/i.ibb.co/hm45TmC/Mai-Saku.jpg") 50% 25% / 170%;}
.Person-0 [id="166026"] .image-cutter::after { background: url("/\x/i.ibb.co/mqtHL0V/Ner2.jpg") 50% 20% / 150%;}  
.Person-0 [id="624"] .image-cutter::after { background: url("/\x/i.ibb.co/MSyjHrj/Victoria-S.jpg") 50% 25%/ 200%;}
.Person-0 [id="143196"] .image-cutter::after { background: url("/\x/i.ibb.co/9g2N0Px/Ai-Hayasaka.jpg") 20% 5% / 200%;}
.Person-0 [id="99661"] .image-cutter::after { background: url("/\x/i.ibb.co/R6vnL9Q/Rory-Mercury.jpg") 35% 25% / 280%;}
.Person-0 [id="41374"] .image-cutter::after { background: url("/\x/i.ibb.co/hs4s1p7/Subaru-Konoe.jpg") 50% 12% / 165%;}
.Person-0 [id="9719"] .image-cutter::after { background: url("/\x/i.ibb.co/K0wfDhn/Juvia-L.jpg") 40% 33% / 300%;}
.Person-0 [id="75284"] .image-cutter::after { background: url("/\x/i.ibb.co/2FdxGWz/Erina-Nakiri.jpg") 90% 50% / 128%;}
.Person-0 [id="119321"] .image-cutter::after { background: url("/\x/i.ibb.co/jMsyXyh/Momo-Y.jpg") 55% 35% / 150%;}
.Person-0 [id="22037"] .image-cutter::after { background: url("/\x/i.ibb.co/FsYzMGP/Hitagi-S.jpg") 90% 0% / 160%;}


.Person-0 [id="161954"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/900770.jpg) 15% 10% / 300%;
}
.Person-0 [id="13390"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1159688.jpg) 73% 15% / 200%;
}
.Person-0 [id="55133"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1159690.jpg) 73% 25% / 200%;
}
.Person-0 [id="6043"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1159691.jpg) 47% 6% / 300%;
}
.Person-0 [id="37698"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1159693.jpg) 30% 50% / 160%;
}
.Person-0 [id="31418"] .image-cutter::after {
    background: url(//dere.shikimori.one/system/user_images/original/208335/1159694.jpg) 67% 35% / 260%;
}
.Person-0 [id="52723"] .image-cutter::after {
    background: url(//nyaa.shikimori.one/system/user_images/original/208335/1159695.jpg) 50% 25% / 180%;
}
.Person-0 [id="20476"] .image-cutter::after {
    background: url(//moe.shikimori.one/system/user_images/original/208335/1159697.jpg) 47% 25% / 200%;
}
.Person-0 [id="5190"] .image-cutter::after {
    background: url(//desu.shikimori.one/system/user_images/original/208335/1159703.jpg) 25% 25% / 250%;
}
.Person-0 [id="48993"] .image-cutter::after {
    background: url(//kawai.shikimori.one/system/user_images/original/208335/1159711.jpg) 45% 15% / 250%;
}
